# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- list most used data scince libraries 
- starting with jupiter notebook
- introdution of R-stodio and Github

Some of the popular languages that Data Scientists use are:


1. Python
2. __R__
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|-|
|Jupiter notebook|
|R-studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
print('The hours are',200/60)

The hours are 3.3333333333333335

## Author
Shahzaib